<h1>@zestia/ember-cli-twitter-entities</h1>

<p>
  {{twitter-entities text="Hello World"}}
</p>

<p>
  {{twitter-entities text=urlsExample entities=urlsExampleEntities}}
</p>

<p>
  {{twitter-entities text=hashtagsExample entities=hashtagsExampleEntities}}
</p>

<p>
  {{twitter-entities
    text=userMentionsExample
    entities=userMentionsExampleEntities
  }}
</p>

<p>
  {{twitter-entities text=mediaExample entities=mediaExampleEntities}}
</p>