<h2 id="title">ember-cli-twitter-entities</h2>

{{twitter-entities text="Hello World"}}

{{twitter-entities
  text=example1
  entities=example1Entities
  urlOptions=example1Options}}

{{twitter-entities
  text=example2
  entities=example2Entities
  hashTagOptions=example2Options}}

{{twitter-entities
  text=example3
  entities=example3Entities
  userMentionOptions=example3Options}}

{{twitter-entities
  text=example4
  entities=example4Entities
  mediaOptions=example4Options}}