<h1>
  @zestia/ember-cli-twitter-entities
</h1>

<p>
  <TwitterEntities @text="Hello World" />
</p>

<p>
  <TwitterEntities
    @text={{this.urlsExample}}
    @entities={{this.urlsExampleEntities}}
  />
</p>

<p>
  <TwitterEntities
    @text={{this.hashtagsExample}}
    entities={{this.hashtagsExampleEntities}}
  />
</p>

<p>
  <TwitterEntities
    @text={{this.userMentionsExample}}
    @entities={{this.userMentionsExampleEntities}}
  />
</p>

<p>
  <TwitterEntities
    @text={{this.mediaExample}}
    @entities={{this.mediaExampleEntities}}
  />
</p>