<h1>
  @zestia/ember-twitter-entities
</h1>

{{! template-lint-disable no-inline-styles }}
<a href="https://github.com/zestia/ember-twitter-entities">
  <img
    style="position: absolute; top: 0; right: 0; border: 0;"
    width="149"
    height="149"
    src="https://github.blog/wp-content/uploads/2008/12/forkme_right_darkblue_121621.png?resize=149%2C149"
    class="attachment-full size-full"
    alt="Fork me on GitHub"
    data-recalc-dims="1"
  />
</a>

<p>
  Each Twitter entity is rendered as a component. Below shows the default components, but you are free to override these.
</p>

<dl>
  <dt>
    A tweet with URLs
  </dt>
  <dd>
    <TwitterEntities
      @text={{this.urlsExample}}
      @entities={{this.urlsExampleEntities}}
    />
  </dd>
  <dt>
    A tweet with hashtags
  </dt>
  <dd>
    <TwitterEntities
      @text={{this.hashtagsExample}}
      @entities={{this.hashtagsExampleEntities}}
    />
  </dd>
  <dt>
    A tweet with user mentions
  </dt>
  <dd>
    <TwitterEntities
      @text={{this.userMentionsExample}}
      @entities={{this.userMentionsExampleEntities}}
    />
  </dd>
  <dt>
    A tweet with media
  </dt>
  <dd>
    <TwitterEntities
      @text={{this.mediaExample}}
      @entities={{this.mediaExampleEntities}}
    />
  </dd>
  <dt>
    A tweet with symbols
  </dt>
  <dd>
    <TwitterEntities
      @text={{this.symbolsExample}}
      @entities={{this.symbolsExampleEntities}}
    />
  </dd>
</dl>